
<div class="jumbotron">
    <div class="row">
        <div class="row"><h1>About Us</h1></div>
        <div class="col-xs-5 col-offset-1">
            <p>Whether submitted with a regulatory application or in response to an enforcement action, business and strategic plans have become increasingly important supervisory tools for financial regulators.</p>
        </div>
        <div class="col-xs-5 col-offset-1">
            <p>Despite struggling in the series, James Harden kept his composure and was at his best in Game 7, scoring 31 points to help the Rockets bounce the Clippers.</p>
        </div>
    </div>
    <div class="row">
        <div class="text center">
            <p>We are an incredible team.</p> <p>People Love it here. We love them too.</p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-4">
            <img src="http://wac.450f.edgecastcdn.net/80450F/comicsalliance.com/files/2013/11/Daredevil-top1.jpg" alt="Daredevil" class="img-circle img-responsive">
            <h2>Daredevil</h2>
            <p>Daredevil handles our finances, as well as client/project management.</p>
        </div>
        <div class="col-xs-4">
            <img src="http://www.premierepro.com/Las_Vegas_Event_Labor_Company/wp-content/uploads/2011/05/shaq.jpg" alt="Shaq" class="img-circle img-responsive">
            <h2>Shaq</h2>
            <p>Shaq is our sales specialist. His forecast models give us direction in terms of which markets we will pursue in the following years.</p>
        </div>
        <div class="col-xs-4">
            <img src="https://allhiphop.files.wordpress.com/2014/03/juicy-j.jpg" alt="Juicy J" class="img-circle img-responsive">
            <h2>Juicy J</h2>
            <p>Juicy J is our Chief Officer of Technology and also maintains our supply of liquor.</p>
        </div>
    </div>


</div>