
<div class="jumbotron">
    <div class="row">
        <div class="row"><h1>About Us</h1></div>
        <div class="col-xs-5 col-offset-1">
            <textarea>We bout This</textarea>
        </div>
        <div class="col-xs-5 col-offset-1">
            <textarea>We bout That</textarea>
        </div>
    </div>
    <div class="row">
        <body>
            <p>We are an incredible team.</p> <p>People Love it here. We love them too.</p>
        </body>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"></div>
    </div>


</div>