<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= rand(1000) %>">

<label>Username</label>
<input type="text" name="session[email]" value="">
<br>

<label>Password</label>
<input type="password" name="session[password]" value="">

<input type="submit" value="Sign in!">
</form>
